@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

*{
    margin:0;
    padding: 0;
}
.container{
    max-width:80vw;

}
.navbar{
    display: flex;
    height: 67px;
    font-family:'Ubuntu', sans-serif;
    
}
.navbar li{
    list-style: none;
    margin:0 12px;
    cursor: pointer;
}
.topleft{
    width:50%;
   padding: 12px 0;
    margin-top: 100px;
    margin-bottom:-200px;
}
.topright{
    width:50%;
    
}
.section1{
    max-height: 100vh;
}
.section1 h1{
    font-size: large;
}
.logo{
    font-size: 1.3rem;
}
.section2 h1{
    font-size: 2.5rem;
    margin-top: 10px;
    
}

.section2{
    padding-left:23px;
    padding-right: 23px;
    margin-bottom: 30px;
}
.section2 p{
    padding:0 8vw;
    text-align: center;
}
.box{
    margin:12px 22px;
    min-width: 20vw;
    border: 2px solid rgb(60, 111, 145);
    text-align: center;
    padding:8px 0;
    border-radius: 8px;;
}
.highlighted{
    font-size: 1.5rem;
    font-weight: bolder;
}
.box h2{
    font-size: 2rem;
    padding:15px 0;
}

.box ul{
    list-style-type: none;
    
}
.box ul li{
    margin:12px 2px;

}

.plantable{
    display:flex;
    justify-content: center;
    align-items: center;
}
.section3 table{
    width:100%;
    margin: 40px 0;
    border-collapse: collapse;
    margin-top: 5px;
}
.section3 table th{
    width:23vw;
    border-bottom: 2px solid black;
    padding: 10px;
}
.section3 table td{
    border-bottom: 2px solid black;
}

.section3 h1{
    font-size: 2.5rem;
    
}
.section3{
    padding:50px;
    margin-top: -20px;
}

.footer{
    padding:23px;
    text-align: center;
    padding-left: 100px;
    
}
.ftext{
    padding-left: 480px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.deal{
    font-size: 1.2rem;
    font-weight: bolder;
    margin: 12px 0;
}